.form {
    width: 500px;
    margin: auto;
}

.form_input {
    width: 100%;
    height: 30px;
    font-size: 18px;
}

.reg_btn {
    width: 100%;

}

.login_item {
    font-weight: bold;
    text-align: center;
}